<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="" name="description">
  <title>{{ title }}</title>
  <link href="css/tr-snake.css" rel="stylesheet">
  <link href="images/favicon.png" rel="icon">
</head>

<body>
  {{> header}}
  <main class="content">
    <div class="content_canvas">
      <canvas id="canvas" height="210" width="210"></canvas>
    </div>
    <div class="content_description">
      <h3>About</h3>
      <p>Built in <em>September 2017</em></p>
      <p>This is just a basic implementation of the old <a href="https://en.wikipedia.org/wiki/Snake_(video_game)">Snake</a> video game, using the HTML canvas and programmed in Javascript.</p>
    </div>
    <div class="content_instructions">
      <h3>Instructions</h3>
      <p>Control your snake and eat the pills. Each time you eat a pill, your snake will grow.</p>
      <p>Click on the game canvas and hit any of the control keys to begin.</p>
      <p>Keyboard Controls:</p>
      <ul>
        <li>W - Up</li>
        <li>A - Left</li>
        <li>D - Right</li>
        <li>S - Down</li>
      </ul>
      <p>You need a keyboard, so won't work on mobile :(</p>
    </div>
  </main>
  {{> footer}}
  <script src="scripts/script.js" type="module"></script>
</body>

</html>