a {
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

p {
  margin: 0;
  padding: 8px 0;
  line-height: 1.3; }

h1,
h2, h3 {
  font-family: serif; }

body {
  margin: 0;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif; }

.header,
.content,
.footer {
  padding: 0 15px; }

.header_h1 {
  font-size: 1.5rem;
  margin: 15px 0 5px 0;
  font-weight: normal; }
  .header_h1 a {
    text-decoration: none;
    color: #000000; }

.header_subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin: 0; }

.content {
  padding: 30px 15px; }
  .content canvas {
    border: 10px solid #ddd;
    margin: 8px 0;
    display: block; }
  .content ul {
    margin: 6px 0;
    padding: 0;
    list-style-position: inside; }
  .content h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 6px 0; }

@media (min-width: 768px) {
  .content {
    display: flex;
    margin: 0 -15px; }
  .content_canvas,
  .content_description,
  .content_instructions {
    flex: 0 1;
    padding: 0 15px; }
  .content_description,
  .content_instructions {
    min-width: 250px; }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden; }
  .content {
    flex: 1 0 auto; } }

footer {
  background-color: #0f1419;
  color: #ddd; }
  footer a {
    color: inherit; }
  footer ul {
    margin: 0;
    padding: 6px 0;
    list-style-position: inside; }
