<footer class="footer">
  <ul>
    <li>A <a href='//treerock.me/'>treerock</a> project.</li>
    <li>Last update on {{lastUpdated}}</li>
    <li><a href="https://gitlab.com/BruceHad/tr-snake">gitlab repository</a></li>
  </ul>
</footer>