<div class='container'>
    <footer class='navbar-fixed-bottom'>
        <div class=''>
            <div class='col col-md-6'>A <a href='//treerock.me/'>treerock</a> build.</div>
            <div class='col col-md-6 align-right'>Project last update on {{lastUpdated}}</div>
        </div>
    </footer>
</div>
