<header>
    <div class='container'>
        <nav>
            <ul>
                <li><a href='//treerock.me/'>home</a></li>
                <li><a href='//github.com/BruceHad/tr-snake'>github</a></li>
            </ul>
        </nav>
        <h1>{{title}} <small>{{subtitle}}</small></h1>
    </div>
</header>
