/* Snake styles 
--------------------------------------------------------------*/

canvas {
    border: 4px solid #ddd;
    margin: 15px auto;
    display: block;
    
}

.align-right {
    text-align: right;
}